,*#
*.el~
starter-kit-*.el
dgm.el
transient/history.el
*~
recentf~
!init.el
*.org~
tramp
backups/
auto-save-list/
places
url/
session*
semanticdb/
## exported files
starter-kit*html
starter-kit*tex
starter-kit*pdf
starter-kit*fls
starter-kit*aux
starter-kit*fdb_latexmk
starter-kit*out
starter-kit*synctex(busy)
starter-kit*xdv
starter-kit*log
dgm*html
dgm*tex
dgm*pdf
dgm*fls
dgm*aux
dgm*fdb_latexmk
dgm*out
dgm*synctex(busy)
dgm*xdv
dgm*log
eshell/
eshell/lastdir
eshell/history
## org stuff
/.#starter-kit-latex.org
/index.org
/vc-git.awk
var/
ido.last
ido.last~
projectile-bookmarks.eld
projectile.cache
projectile*
recentf
smex-items
history
.org-id-locations
*.rel
undo_hist
.mc-lists.el
no.
org-clock-save.el
.#recentf
.statahistory
_minted-starter-kit-completion/
_minted-starter-kit-python/
network-security.data
speed-type/German.txt
custom.el
.#starter-kit-org.org
