[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/ebib"]
	path = src/ebib
	url = http://repo.or.cz/r/ebib.git
[submodule "src/ess"]
	path = src/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
