*.el~
*.org~
loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa/*
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
## exported files
*el
starter-kit*html
starter-kit*tex
starter-kit*pdf
starter-kit*fls
starter-kit*aux
starter-kit*fdb_latexmk
starter-kit*out
starter-kit*synctex(busy)
starter-kit*xdv
starter-kit*log
dgm*html
dgm*tex
dgm*pdf
dgm*fls
dgm*aux
dgm*fdb_latexmk
dgm*out
dgm*synctex(busy)
dgm*xdv
dgm*log
doc
eshell/lastdir
eshell/history
eshell/lastdir
## org stuff
.org-id-locations
/ac-comphist.dat
/.#starter-kit-latex.org
/index.org
/vc-git.awk
request/
var/
abbrev_defs
bookmarks
eshell/
ido.last
projectile-bookmarks.eld
recentf
smex-items
oldStuff/
speed-type/
