[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/ebib"]
	path = src/ebib
	url = http://repo.or.cz/r/ebib.git
