[Desktop Entry]
Name=Emacs-EXWM-experiment
Comments=Emacs Window Manager
Exec=sh /home/dgm/.emacs.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
